[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
langchain_huggingface = "*"
requests = "*"
transformers = "*"
openai = "*"
langgraph = "0.2.74"

[dev-packages]

[requires]
python_version = "3.13"